
[submodule "Firmware/SourceCode/Emma_test/components/LovyanGFX"]
	path = Firmware/SourceCode/Emma_test/components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
	branch = develop
[submodule "Firmware/SourceCode/Emma_test/components/EmmaBSP"]
	path = Firmware/SourceCode/Emma_test/components/EmmaBSP
	url = https://github.com/Forairaaaaa/EmmaBSP.git
[submodule "Firmware/SourceCode/Emma_test/components/lvgl"]
        path = Firmware/SourceCode/Emma_test/components/lvgl
        url = https://github.com/lvgl/lvgl.git
        branch = v8.3.4
